{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
  <title>{% block title %}{% endblock title %}GemoTex</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap"
    rel="stylesheet" />
  <!-- SEO Meta Tags -->
  <meta
  name="description"
  content="{% block description %}Gemotex is a globally recognized leader in garments procurement, renowned for delivering efficient, quality-driven solutions to businesses within the fashion industry.{% endblock description %}"
/>
  <meta name="keywords" content="fashion, buying, buying house, fashion house, garments" />
  <meta name="author" content="tyrodevs" />
  <meta name="robots" content="index, follow" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{% block ogtitle %}{% endblock ogtitle %}GemoTex" />
  <meta property="og:description" content="{% block ogdescription %}Gemotex is a globally recognized leader in garments procurement, renowned for delivering efficient, quality-driven solutions to businesses within the fashion industry.{% endblock ogdescription %}" />
  <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% block ogimage %}{% static 'images/gemotex.png' %}{% endblock ogimage %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{% block twittertitle %}{% endblock twittertitle %}GemoTex" />
  <meta name="twitter:description" content="{% block twitterdescription %}Gemotex is a globally recognized leader in garments procurement, renowned for delivering efficient, quality-driven solutions to businesses within the fashion industry.{% endblock twitterdescription %}" />
  <meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% block twitterimage %}{% static 'images/gemotex.png' %}{% endblock twitterimage %}" />
  <!-- Canonical Link -->
  <link rel="canonical" href="{{ request.build_absolute_uri }}" />

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- toast css cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
    integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Additional CSS and JavaScript -->
  {% block head_css %}{% endblock head_css %}
  {% block head_js %}{% endblock head_js %}
</head>

<body class="overflow-y-hidden bg-zinc-100">
  <div class="preloader fixed inset-0 z-[100] flex flex-col items-center justify-center bg-zinc-700">
    <div class="lds-dual-ring"></div>
    <span class="mt-5 inline-block font-perker text-lg uppercase text-white">
      gemotex
    </span>
  </div>
  {% include 'components/nav.html' %}

  <main class="w-full">
    {% block main_content %} {% endblock main_content %}
  </main>

  {% include 'components/footer.html' %}


  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  <!-- Magnific Popup core JS file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!-- toast js cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
    integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/tyrotoast.js' %}"></script>

  <!-- tost message area -->
  <script>
    window.addEventListener("load", (event) => {

      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      new Toast({
        title: "Success",
        message: "{{message}}",
        position: "top-right",
        pauseOnHover: true,
        pauseOnFocusLoss: true,
        toastType: 'success'
      });
      {% elif message.tags == 'error' %}
      new Toast({
        title: "Error",
        message: "{{message}}",
        position: "top-right",
        pauseOnHover: true,
        pauseOnFocusLoss: true,
        toastType: 'error'
      });
      {% endif %}
      {% endfor %}
      {% endif %}
    });
  </script>

  {% block script %} {% endblock script %}
</body>

</html>