{% load static %}
<footer class="footer-bg flex w-full flex-col items-center justify-center bg-zinc-900 text-white">
  <div class="container">
    <div class="mt-8 grid grid-cols-1 items-center gap-8 md:mt-16 md:grid-cols-2 md:gap-4 xl:grid-cols-4">
      <a class="font-perker text-3xl md:text-4xl" href="/">Gemotex</a>

      <!-- item-1 -->
      <div class="flex items-center gap-8">
        <img loading="lazy" src="{% static 'images/box-white.png' %}" class="w-10 md:w-14 aspect-square" alt="" />
        <h5 class="font-semibold uppercase">
          FREE SHIPPING & RETURN POLICY
        </h5>
      </div>

      <!-- item-2 -->
      <div class="flex items-center gap-8">
        <img loading="lazy" src="{% static 'images/headphone-white.png' %}" alt="" class="w-10 md:w-14 aspect-square" />
        <h5 class="font-semibold uppercase">90-DAY WARRANTY</h5>
      </div>

      <!-- item-3 -->
      <div class="flex items-center gap-8">
        <img loading="lazy" src="{% static 'images/history-white.png' %}" class="w-10 md:w-14 aspect-square" alt="" />
        <h5 class="font-semibold uppercase">
          NEW PRODUCT OFFERINGS & DEALS
        </h5>
      </div>
    </div>

    <div class="my-8 h-px bg-zinc-700"></div>

    <div class="mb-8 grid w-full gap-16 md:mb-16 lg:grid-cols-9 lg:gap-0">
      {% if footer %}
      <div class="flex flex-col items-center md:items-start lg:col-span-4">
        <p
          class="mb-5 max-w-md text-center text-sm leading-relaxed text-white md:max-w-none md:text-left lg:text-justify">
          {{ footer.details }}
        </p>
        <ul class="flex gap-5 text-xl">
          <li>
            <a href="{% if  footer.facebook_link %}{{ footer.facebook_link }}{% else %}#{% endif %}"
              class="grid aspect-square w-8 place-items-center rounded-full bg-white text-zinc-500">
              <i class="ti ti-brand-facebook"></i>
            </a>
          </li>
          <li>
            <a href="{% if  footer.linkedin_link %}{{ footer.linkedin_link }}{% else %}#{% endif %}"
              class="grid aspect-square w-8 place-items-center rounded-full bg-white text-zinc-500">
              <i class="ti ti-brand-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="{% if  footer.twitter_link %}{{ footer.twitter_link }}{% else %}#{% endif %}"
              class="grid aspect-square w-8 place-items-center rounded-full bg-white text-zinc-500">
              <i class="ti ti-brand-twitter"></i>
            </a>
          </li>
          <li>
            <a href="{% if  footer.youtube_link %}{{ footer.youtube_link }}{% else %}#{% endif %}"
              class="grid aspect-square w-8 place-items-center rounded-full bg-white text-zinc-500">
              <i class="ti ti-brand-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

      <div class="flex w-full flex-col md:flex-row justify-center gap-10 lg:col-span-5 lg:pl-10 xl:pl-16">
        <div class="flex-1 w-full">
          <h2 class="mb-3 text-sm font-bold md:text-base">Quick Links</h2>
          <div class="flex text-[0.8rem] gap-6 md:text-sm">
            <div class="flex flex-col gap-3">
              <a href="{% url 'app_main:about' %}">About Us</a>
              <a href="{% url 'app_main:contact' %}">Contact Us</a>
              <a href="{% url 'app_main:about' %}">Privacy Policy</a>
            </div>
            <div class="flex flex-col gap-3">
              <a href="{% url 'app_main:about' %}">Support Policy</a>
              <a href="{% url 'app_main:about' %}">Our Services</a>
              <a href="{% url 'app_main:product_list' %}">Products</a>
            </div>
          </div>
        </div>

        <div class="w-full md:flex-1">
          <h2 class="mb-3 text-sm font-bold md:text-base">Contact Us</h2>
          {% if contact %}
          <div class="flex flex-col gap-3 text-[0.8rem] md:text-sm">
            <a href="#" class="flex items-center gap-4">
              <i class="ti ti-map-pin-filled text-[1.25em]"></i>
              <span>{{ contact.address }}</span>
            </a>
            <a href="#" class="flex items-center gap-4">
              <i class="ti ti-phone-call text-[1.25em]"></i>
              <span>{{ contact.phone }}</span>
            </a>
            <a href="#" class="flex items-center gap-4">
              <i class="ti ti-mail-filled text-[1.25em]"></i>
              <span>{{ contact.email }}</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 w-full bg-zinc-800 p-4 text-center text-xs sm:text-sm">
    <p class="text-white">Developed by <a class="text-green-500 hover:underline" href="https://www.itsourcebd.com/"
        target="_blank">ITSOURCE</a> | © <script>document.write(new Date().getFullYear());</script> gemotex. All rights reserved.</p>
  </div>
</footer>