<a href="{% url 'app_main:product' product.id %}"
    class="product-card relative border-2 bg-white p-6 transition-all duration-300 hover:border-zinc-700">
    <div class="wrapper">
        <div class="flex items-center justify-between">
            <span class="rounded-sm bg-zinc-900 px-1.5 pb-0.5 pt-1 text-xs leading-none text-white">
                {{product.tag}}
            </span>
            <span
                class="ml-auto grid aspect-square w-10 place-items-center rounded-full bg-zinc-200 transition-colors hover:bg-zinc-700 hover:text-white">
                <i class="ti ti-heart text-xl"></i>
            </span>
        </div>
        <img loading="lazy" src="{% if product.cover_image %}{{product.cover_image.url}}{% endif %}" alt=""
            class="my-3 aspect-square w-full object-cover" />
        <div class="card-infos">
            <span class="text-xs font-semibold uppercase text-zinc-600">
                {{product.category.category_name}}
            </span>
            <h4 class="mb-1 line-clamp-1 text-xl font-semibold uppercase text-zinc-900">
                {{product.title}}
            </h4>
        </div>
    </div>
</a>