{% extends 'base.html' %}
{% load static %}
{% block title %}Contact | {% endblock title %}
{% block description %}{{ contact.details }}{% endblock description %}


{% block ogtitle %}Contact | {% endblock ogtitle %}
{% block twitterdescription %}{{ contact.details }}{% endblock twitterdescription %}

{% block twittertitle %}Contact | {% endblock twittertitle %}
{% block ogdescription %}{{ contact.details }}{% endblock ogdescription %}


{% block main_content %}
<main class="w-full">
  <!-- cover image start -->
  <section id="contact-cover-image">
    <div class="relative isolate h-[32rem] w-full bg-black">
      <img loading="lazy" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-70"
        src="{% static 'images/contact-static.jpg' %}" alt="contact-cover" />
      <div class="pt-[14rem] text-center font-sans text-white">
        <h2 class="text-4xl font-bold uppercase md:text-6xl">Contact US</h2>
      </div>
    </div>
  </section>
  <!-- cover image end -->

  <!-- short info start -->
  <section id="info-section" class="my-8 py-8 md:my-16 md:py-16">
    <div class="container grid grid-cols-1 place-items-start gap-4 md:grid-cols-3">
      <!-- item-1 -->
      <div class="flex flex-col items-start justify-start">
        <img loading="lazy" src="{% static 'images/box-img.png' %}" width="62" height="62" alt="" />
        <h3 class="mt-4 font-sans text-2xl font-bold uppercase tracking-tighter">
          Our Vision
        </h3>
        <p class="mt-2 text-black">
          Gemo Tex aspires to expand its market reach, add value through innovation, contribute to society, and maintain the highest product quality while leading in marketing excellence.
        </p>
      </div>

      <!-- item-2 -->
      <div class="mt-4 flex flex-col items-start justify-start md:mt-0">
        <img loading="lazy" src="{% static 'images/headphone-img.png' %}" width="62" height="62" alt="" />
        <h3 class="mt-4 font-sans text-2xl font-bold uppercase tracking-tighter">
          Quick Response
        </h3>
        <p class="mt-2 text-black">
          At Gemo Tex, we value quick responses for strong customer relationships. Our dedicated marketing team ensures prompt replies to customer inquiries about our products.
        </p>
      </div>

      <!-- item-3 -->
      <div class="mt-4 flex flex-col items-start justify-start md:mt-0">
        <img loading="lazy" src="{% static 'images/history-img.png' %}" width="62" height="62" alt="" />
        <h3 class="mt-4 font-sans text-2xl font-bold uppercase tracking-tighter">
          Timely Delivery
        </h3>
        <p class="mt-2 text-black">
          At Gemo Tex, we prioritize timely delivery. Our dedicated workforce, skilled delivery team, and in-house transport ensure on-time product delivery to our customers' warehouses.
        </p>
      </div>
    </div>
  </section>
  <!-- short info end -->

  <div class="grid place-content-center">
    <span class="inline-block h-1 w-40 bg-zinc-900"></span>
  </div>

  <!-- card & contact form start -->
  <section id="card-contact-form" class="my-8 py-8 md:my-16 md:py-16">
    <div class="container flex flex-col items-start justify-start gap-8 md:flex-row md:justify-center md:gap-12">
      <div class="w-full md:w-1/2">
        <h2 class="mb-5 text-4xl font-bold uppercase text-zinc-900">
          GET IN TOUCH WITH US
        </h2>
        {% if contact %}
        <p class="text-sm font-normal text-zinc-900">
          {{ contact.details }}
        </p>
        <div class="mt-8 flex flex-row items-center justify-start gap-2">
          <i class="ti ti-phone"></i>
          <p class="text-sm text-zinc-900">{{ contact.phone }}</p>
        </div>
        <div class="mt-2 flex flex-row items-center justify-start gap-2">
          <i class="ti ti-mail"></i>
          <p class="text-sm text-zinc-900">{{ contact.email }}</p>
        </div>
        <div class="mt-2 flex flex-row items-center justify-start gap-2">
          <i class="ti ti-map"></i>
          <p class="text-sm text-zinc-900">
            {{ contact.address }}
          </p>
        </div>
        <div class="mt-2 flex flex-row items-start justify-start gap-2">
          <i class="ti ti-calendar-time"></i>
          <p class="text-sm text-black">
            {{ contact.work }}
          </p>
        </div>
        {% endif %}
      </div>
      <div class="mt-4 w-full md:mt-0 md:w-1/2">
        <form action="" method="post">
          {% csrf_token %}
          <textarea
            class="block w-full border-b-[1.5px] border-zinc-900 bg-zinc-100 placeholder:text-xs placeholder:font-bold placeholder:text-zinc-600 focus:outline-none placeholder:focus:text-zinc-900"
            name="client_message" id="" rows="6" placeholder="MESSAGE" required></textarea>
          <div class="mt-8 flex flex-col items-center justify-center gap-4 md:flex-row">
            <input
              class="block w-full border-b-[1.5px] border-zinc-900 bg-zinc-100 py-2 placeholder:text-xs placeholder:font-bold placeholder:text-zinc-600 focus:outline-none placeholder:focus:text-zinc-900"
              type="text" name="client_name" placeholder="NAME" required />
            <input
              class="block w-full border-b-[1.5px] border-zinc-900 bg-zinc-100 py-2 placeholder:text-xs placeholder:font-bold placeholder:text-zinc-600 focus:outline-none placeholder:focus:text-zinc-900"
              type="email" name="client_email" placeholder="EMAIL" required />
          </div>
          <button type="text"
            class="mt-10 border-[1.5px] border-zinc-900 px-8 py-4 font-sans text-xs font-semibold uppercase hover:bg-zinc-900 hover:text-white hover:duration-1000">
            Send Message
          </button>
        </form>
      </div>
    </div>
  </section>
  <!-- card & contact form end -->
</main>

{% endblock main_content %}