{% extends 'base.html' %}
{% load static %}
{% block title %}Product | {% endblock title %}
{% block main_content %}

<div class="breadcrumbs container pt-8">
  <div class="flex items-center uppercase font-semibold gap-4 overflow-x-auto whitespace-nowrap text-sm">
    <a href="/" class="flex items-center gap-2 text-zinc-500 hover:text-zinc-950 hover:underline">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
      </svg>
      Home
    </a>

    <span class="text-zinc-500">/</span>

    <a href="{% url 'app_main:product_list' %}" class="text-zinc-500 hover:text-zinc-950 hover:underline">Products</a>
    <span class="text-zinc-500">/</span>

    <a href="{{request.path}}" class="text-zinc-950 hover:underline">{{product.title}}</a>
  </div>
</div>

<section class="my-8 py-4 md:my-16 md:py-8">
  <div class="wrapper container">
    <div class="mb-16 grid grid-cols-1 items-start gap-8 md:grid-cols-5 md:gap-12 lg:gap-16">
      <div class="relative w-full border-2 transition-all duration-300 hover:border-zinc-700 md:col-span-2">
        <img id="main-image" src="{% if product.cover_image %}{{product.cover_image.url}}{% endif %}" alt=""
          class="aspect-square h-auto w-full object-cover" />
      </div>
      <div class="w-full md:col-span-3">
        <h2 class="text-3xl font-semibold capitalize md:text-4xl lg:text-5xl">
          {{product.title}}
        </h2>
        <p
          class="mt-5 line-clamp-4 text-sm leading-normal tracking-wider text-zinc-700 md:mt-8 md:text-base md:leading-relaxed">
          {{product.details}}
        </p>
        <div class="mt-4 flex flex-wrap gap-5 md:mt-8">
          
          <button id="openModal"
            class="flex items-center justify-center gap-3 rounded border border-zinc-300 bg-zinc-200 px-5 py-2 transition-colors hover:bg-zinc-950 hover:text-white">
            Request Product Query
            <i class="ti ti-shopping-bag"></i>
          </button>
        </div>
        <div class="mt-6 flex flex-col gap-3 md:mt-8">
          <span class="inline-block text-sm uppercase">
            <span class="mr-3 inline-block font-semibold">Category:</span>
            {{product.category.category_name}}
          </span>
          <span class="inline-block text-sm uppercase">
            <span class="mr-3 inline-block font-semibold">Subcategory:</span>
            {{product.subcategory.subcategory_name}}
          </span>
          <span class="inline-block text-sm uppercase">
            <span class="mr-3 inline-block font-semibold">Tag:</span>
            {{product.tag}}
          </span>
        </div>
        <div class="extra-images grid grid-cols-4 mt-6 md:mt-8 gap-2">
          {% for extra_img in product.images.all %}
          <div class="thumbnail w-full h-full border cursor-pointer">
            <img src="{{extra_img.image.url }}" alt="" class="w-full h-full object-cover aspect-square">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tabs">
      <div class="flex flex-wrap gap-6 border-y border-zinc-300 py-6">
        <a href="#description" class="tab-link">Description</a>
        <a href="#additional_infos" class="tab-link">Additional Information</a>
      </div>
      <div class="mt-8 text-sm text-zinc-700 md:text-base">
        <div class="tab-content hidden" id="description">
          {{product.details}}
        </div>
        <div class="tab-content hidden" id="additional_infos">
          {{product.info}}
        </div>
      </div>
    </div>
  </div>
</section>


<div id="modal" class="hidden fixed inset-0 z-10 overflow-y-auto grid place-items-center bg-zinc-700/50"
  aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div
    class="relative flex flex-col overflow-hidden text-left transition-all bg-white rounded-lg shadow-xl sm:max-w-sm sm:w-full sm:p-6">
    <div>
      <h3 class="text-xl font-bold mb-2 text-zinc-800 capitalize flex items-center" id="modal-title"><i
          class="ti ti-info-hexagon mr-2"></i> Confirmation</h3>
      <p class="mt-2 text-sm text-zinc-500 dark:text-zinc-400">
        Are you sure you want to deal with us with this following product?
        <span class="font-semibold ml-2">(Product-ID : {{product.id}})</span>
      </p>
    </div>
    <form class="w-full mt-2" method="post">
      {% csrf_token %}
      <label for="emails-list" class="text-xs text-zinc-700 inline-block">
        Name
      </label>
      <input type="text" name="client_name" placeholder="name" required
        class="block w-full px-4 py-2 text-sm text-zinc-700 bg-white border border-zinc-200 rounded-md focus:border-zinc-400 focus:outline-none focus:ring focus:ring-zinc-300 focus:ring-opacity-40" />
      <label for="emails-list" class="text-xs text-zinc-700  mt-2 inline-block">
        Email address
      </label>
      <input type="email" name="client_email" placeholder="email" required
        class="block w-full px-4 py-2 text-sm text-zinc-700 bg-white border border-zinc-200 rounded-md focus:border-zinc-400 focus:outline-none focus:ring focus:ring-zinc-300 focus:ring-opacity-40" />

      <div class="sm:flex sm:items-center justify-between mt-4 gap-6 ">
        <button id="closeModal"
          class="w-full px-4 py-2 text-sm font-medium tracking-wide text-zinc-700 capitalize transition-colors duration-300 border border-zinc-200 rounded-md hover:bg-zinc-100 focus:outline-none focus:ring focus:ring-zinc-300 focus:ring-opacity-40">
          Cancel
        </button>

        <button
          class="w-full px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 bg-zinc-700 rounded-md hover:bg-zinc-600 focus:outline-none focus:ring focus:ring-zinc-300 focus:ring-opacity-40">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock main_content %}

{% block script %}

<script>
  // Function to switch tabs
  const switchTab = (tabId) => {
    // Hide all tab contents and remove active class from tab links
    const tabContents = document.querySelectorAll(".tab-content");
    const tabLinks = document.querySelectorAll(".tab-link");
    tabContents.forEach((tab) => (tab.style.display = "none"));
    tabLinks.forEach((link) => link.classList.remove("active-tab-link"));

    // Show the selected tab content and add active class to the tab link
    const selectedTab = document.getElementById(tabId);
    const selectedTabLink = document.querySelector(`[href="#${tabId}"]`);
    if (selectedTab && selectedTabLink) {
      selectedTab.style.display = "block";
      selectedTabLink.classList.add("active-tab-link");
    }
  };

  // Initialize with the first tab active
  switchTab("description");

  // Add click event listeners to tab links
  const tabLinks = document.querySelectorAll(".tab-link");
  tabLinks.forEach((tabLink) => {
    tabLink.addEventListener("click", (e) => {
      e.preventDefault();
      const tabId = tabLink.getAttribute("href").substring(1); // Get the target tab ID
      switchTab(tabId);
    });
  });

  // script.js
  document.addEventListener("DOMContentLoaded", function () {
    const mainImage = document.getElementById("main-image");
    const thumbnails = document.querySelectorAll(".thumbnail");

    // Function to change the main image when a thumbnail is clicked
    function changeImage(event) {
      const clickedThumbnail = event.target;

      // Remove the "active" class from all thumbnails
      thumbnails.forEach((thumbnail) => {
        thumbnail.classList.remove("border-zinc-950");
      });

      // Add the "active" class to the clicked thumbnail
      clickedThumbnail.parentElement.classList.add("border-zinc-950");
      mainImage.src = clickedThumbnail.src;
    }

    // Add a click event listener to each thumbnail
    thumbnails.forEach((thumbnail) => {
      thumbnail.addEventListener("click", changeImage);
    });
  });

  const openModalButton = document.getElementById('openModal');
  const closeModalButton = document.getElementById('closeModal');
  const modal = document.getElementById('modal');

  openModalButton.addEventListener('click', () => {
    modal.classList.remove('hidden');
  });

  closeModalButton.addEventListener('click', () => {
    modal.classList.add('hidden');
  });

</script>

{% endblock script %}