{% extends 'base.html' %} 
{% load static %} 
{% block title %}Products | {% endblock title %}

{% block main_content %}
<div class="breadcrumbs container pt-8">
  <div
    class="flex items-center gap-4 overflow-x-auto whitespace-nowrap text-sm"
  >
    <a href="#" class="flex items-center gap-2 text-zinc-600 hover:underline">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
        />
      </svg>
      Home
    </a>

    <span class="text-zinc-500">/</span>

    <a href="#" class="font-semibold text-zinc-950 hover:underline">Products</a>
  </div>
</div>

<section class="mt-8 py-8 md:mt-16 md:py-16">
  <div class="section-wrapper container">
    <div class="section-infos mb-5 text-center uppercase md:mb-8">
      <p class="mb-1 text-sm font-medium text-zinc-700">Explore Our World</p>
      <h2
        class="text-2xl font-bold leading-tight tracking-wider text-zinc-900 md:text-3xl xl:text-4xl"
      >
        New and Featured Products
      </h2>
    </div>
    <div
      class="filters mb-4 flex flex-wrap items-center justify-between text-sm uppercase"
    >
      <div class="categories flex flex-wrap gap-4 font-semibold text-zinc-950">
        <a href="" class="border-b-2 border-b-zinc-950 py-1">All</a>
        <a href="" class=" py-1">Knit</a>
        <a href="" class=" py-1">Woven</a>
      </div>
      <div class="sub-categories group relative">
        <button
          type="button"
          class="text-neutral-600 hover:text-neutral-950 flex items-center gap-x-5 font-semibold px-3 py-1"
        >
          Default Sorting
          <i class="ti ti-chevron-down"></i>
        </button>

        <ul
          class="absolute left-auto right-0 top-full z-10 w-48 translate-y-5 rounded-lg bg-white p-2 px-2 py-2 text-sm shadow-md outline outline-1 outline-neutral-200 opacity-0 invisible transition-all before:absolute before:-top-5 before:left-0 before:h-5 before:w-full group-hover:visible group-hover:translate-y-3 group-hover:opacity-100"
        >
          <li>
            <a class="flex w-full gap-x-5 items-center rounded-md  px-3 py-1.5 text-xs text-neutral-800 hover:bg-neutral-100 focus:ring-2 focus:ring-blue-500" href="{% url 'app_main:product' %}">Men</a>
          </li>
          <li>
            <a class="flex w-full gap-x-5 items-center rounded-md  px-3 py-1.5 text-xs text-neutral-800 hover:bg-neutral-100 focus:ring-2 focus:ring-blue-500" href="{% url 'app_main:product' %}">Women</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="product-cards grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4"
    >
      {% include 'components/product-card.html' %} 
      {% include 'components/product-card.html' %}
      {% include 'components/product-card.html' %}
      {% include 'components/product-card.html' %}
    </div>
    <div class="mt-10 flex justify-center gap-2 text-sm font-bold md:mt-14">
      <a
        href="#"
        class="flex cursor-not-allowed items-center rounded px-4 py-2 text-zinc-500"
      >
        <i class="ti ti-arrow-left font-bold"></i>
      </a>
      <a
        href="#"
        class="transform items-center rounded px-4 py-2 text-zinc-700 transition-colors duration-300 hover:bg-zinc-700 hover:text-white sm:flex"
      >
        1
      </a>
      <a
        href="#"
        class="transform items-center rounded px-4 py-2 text-zinc-700 transition-colors duration-300 hover:bg-zinc-700 hover:text-white sm:flex"
      >
        2
      </a>
      <a
        href="#"
        class="transform items-center rounded px-4 py-2 text-zinc-700 transition-colors duration-300 hover:bg-zinc-700 hover:text-white sm:flex"
      >
        3
      </a>

      <a
        href="#"
        class="flex transform items-center rounded px-4 py-2 text-zinc-700 transition-colors duration-300 hover:bg-zinc-700 hover:text-white"
      >
        <i class="ti ti-arrow-right font-bold"></i>
      </a>
    </div>
  </div>
</section>

{% endblock main_content %} {% block script %} {% endblock script %}
